* {
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrap {
    max-width: 850px;
    margin: auto;
}

/* navigation menu */ 
.active {
    background-color: #3882F6;
}
.link-container {
    display: flex;
    justify-content: space-between;
}
.nav-container {
    display: flex;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1F2937;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
a:hover {
    background-color: #3882F6;
}
.logo {
    font-weight: 600;
}
/* adding sticky to navigation */
ul {
    position: fixed;
    top: 0;
    width: 100%;
}






